/* 
    Positioning
    -----------
    Static: Default layout. 
    Fixed: Fixed relative to browser window.  Removed from layout.
    Relative: Relative to IT'S OWN normal layout position.  Normal position used in layout.
    Absolute: Relative to first parent that is NOT Static (<html> if none found).  Removed from layout.
*/

* {
    margin: 0 0; 
    padding: 0 0;
}
			
body {
	font-family: sans-serif;
	font-size: 1.3em;
}
			
#header {
	background: black;
}

#videoTitle {
    color: white;
    text-align: center;
}

#videoElement {
    /* Cannot override the padding from the header in Chrome. */
    /*background: blue;*/
}

#tabs {
    text-align: left;
    padding: 0.3em 1em; /* Pad the buttons */
}

#currentFolder {
    color: white;
}

#searchbox {
    right: 5px;
    position: absolute;
}
 
#scroller {
    background: gray;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
            
#thelist {
	font-size: 0.9em;
	height: 1200px; /* make it really big so it is offscreen at first */
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
			
#thelist li {
	background: white;
	border-bottom: 1px solid #e7e7e7;
	padding: 0.6em 0.3em;
}
			
#thelist li:hover {
	color: #fff;
	background: #00bbff;
}